@import "tailwindcss";

:root {
  /* Brand Colors */
  --background: #0f0907;
  --foreground: #ffffff;

  --gold: #d4af37;
  --gold-light: #f3d87a;

  --brown: #1b120d;
  --brown-light: #2a1b15;

  --cream: #f7f1ea;

  /* Fonts */
  --font-heading: var(--font-heading);
  --font-body: var(--font-geist-sans);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-gold: var(--gold);
  --color-gold-light: var(--gold-light);

  --color-brown: var(--brown);
  --color-brown-light: var(--brown-light);

  --color-cream: var(--cream);

  --font-heading: var(--font-heading);
  --font-sans: var(--font-body);
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-body);
  overflow-x: hidden;
}

::selection {
  background: #d4af37;
  color: #000;
}

/* Hide Scrollbar */

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #120c09;
}

::-webkit-scrollbar-thumb {
  background: #5f4631;
  border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #d4af37;
}

html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-stopped {
  overflow: hidden;
}
html {
  scroll-behavior: smooth;
}

/* ============================
   CTA Animations
============================ */

@keyframes rotateSlow {
  from {
    transform: translateX(-50%) rotate(0deg);
  }

  to {
    transform: translateX(-50%) rotate(360deg);
  }
}

.animate-rotate-slow {
  animation: rotateSlow 90s linear infinite;
}

@keyframes sparkleFloat {
  0% {
    transform: translateY(0px) scale(1);
    opacity: .2;
  }

  50% {
    transform: translateY(-12px) scale(1.3);
    opacity: 1;
  }

  100% {
    transform: translateY(0px) scale(1);
    opacity: .2;
  }
}

.animate-sparkle-float {
  animation: sparkleFloat 4s ease-in-out infinite;
}

@keyframes sparkleRotate {
  0% {
    transform: rotate(0deg);
    opacity: .2;
  }

  50% {
    opacity: 1;
  }

  100% {
    transform: rotate(360deg);
    opacity: .2;
  }
}

.animate-sparkle-rotate {
  animation: sparkleRotate 7s linear infinite;
}
@keyframes footerGlow {
  0% {
    transform: scale(1);
    opacity: 0.08;
  }

  50% {
    transform: scale(1.08);
    opacity: 0.15;
  }

  100% {
    transform: scale(1);
    opacity: 0.08;
  }
}

.animate-footer-glow {
  animation: footerGlow 9s ease-in-out infinite;
}